@model IEnumerable<CRUD_Proyecto.Clases.UsuarioDetalle>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>

</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                <a asp-action="CrearEditar" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Crear Usuario</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-action="CrearEditar" asp-route-id="@item.IdUsuario"><i class="fa fa-marker fa-lg"></i>Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.IdUsuario" class="text-danger m1-1" onclick="return confirm ('Deseas eliminar este registro?')"><i class="fa fa-trash-alt fa-lg"></i>Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

